# System files.
.DS_Store

# Jenkins files.
jenkins_home

# Galaxy roles.
roles/geerlingguy.*

# Secrets (technically can include this if you want).
vars/secrets.yml

# Prod inventory.
inventory/prod
