<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Deploy new code to midwesternmac.com.</description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command># Update code via Git.
ansible mm -m git -a \
&quot;repo=ssh://geerlingguy@git.midwesternmac.com/home/geerlingguy/git/drupal7.git \
dest=/home/geerlingguy/domains/drupal7 \
version=master \
update=yes&quot;

# Run database updates, then clear caches.
ansible mm -a &quot;drush --root=/home/geerlingguy/domains/drupal7 --uri=www.midwesternmac.com updb -y&quot;
ansible mm -a &quot;drush --root=/home/geerlingguy/domains/drupal7 --uri=www.midwesternmac.com cc all&quot;</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers>
    <com.cloudbees.jenkins.plugins.sshagent.SSHAgentBuildWrapper plugin="ssh-agent@1.15">
      <credentialIds>
        <string>geerlingguy_macbook_pro_personal</string>
      </credentialIds>
      <ignoreMissing>false</ignoreMissing>
    </com.cloudbees.jenkins.plugins.sshagent.SSHAgentBuildWrapper>
  </buildWrappers>
</project>